

rect:hover {
    fill: white;
}

.tooltip {
    font-weight: bold;
    text-align: center;
}

.back-hovr {
    fill: white;
    height: 72.5px;
    width: 150px;
    border: 2px solid black;
}

.border {
    z-index: -10;
}
